
h1 {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: 500;
}
.menu{
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    left: 10px;
}

.container {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.left {
    position: relative;
    width: 60%;
    height: 100%;
}

.right {
    position: relative;
    width: 30%;
}

form {
    color: white;
    border-radius: 10px;
    background-color: #00000020;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

form p {
    font-size: 20px;
}

form input[type="text"] {
    width: 30px;
    text-align: center;
    font-size: 30px;
    background: #FFFFFF50;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;

    outline: none;
    border: none;

}

form input[type="submit"] {
    background-color: white;
    border: none;
    outline: none;
    padding: 3% 4%;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
}

form input[type="submit"]:hover {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.right p {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 40px;
    color: white;
    letter-spacing: 10px;
}
.win{
    position: absolute;
    height: 70%;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    background-color: #00000080;
    border-radius: 20px;
    color: white;
}
.win img{
    position: relative;
    width: 60%;
    
}
.win a{
    color: white;
    text-decoration: underline;
}