* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  list-style-type: none;
}
body {
  background-image: linear-gradient(
    170deg,
    hsl(285deg 100% 70%) 0%,
    hsl(247deg 100% 75%) 57%,
    hsl(214deg 99% 61%) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
