.logout{
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

h1 {
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
}

.partie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.partie-bubble {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  width: 60%;
  padding: 2%;
  margin: 10px 0;
  justify-content: space-between;
}
.partie-bubble p {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
  width: calc(100 / 4);
}
.win {
  background-color: #c3ffb3;
}
.loose {
  background-color: #ffb4b4;
}
.play {
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  width: 40%;
  padding: 1% 4%;
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.8rem;
  width: calc(100 / 2);
  justify-content: space-evenly;
  transition: 0.3s all;
  border: 2px solid #fff;
  outline: none;
  background: none;
  color: white;
}
.play span {
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  width: 50px;
  height: 50px;
  border: solid 2px #fff;
}

.play span p {
  margin-top: -10px;
  margin-left: 2px;
}

.play:hover,
.play:focus {
  background-color: #ffffff;
  color: black;
}
.play:focus span, .play:hover span{
  color: black;
}
